{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">
      
         
          
  {% block content %}
    <div class="content-wrapper">
                <!-- Content Header (Page header) -->
     <div class="content-header">
      <div class="container">
        <div class="row mb-2">
                <div class="col-sm-6">
                  <h2 class="m-0">Users list</h2>
                </div><!-- /.col -->
                
                
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="home">Home</a></li>
                     <li class="breadcrumb-item active">Users list</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <a class="btn btn-secondary mb-2 ml-4" href="{{ path('app_user_new') }}"> 
                <i class="fa fa-plus">
                              </i> Add User
                              
                            
                          </a>
    <div class="card card-secondary card-outline mx-3">
     <table class="table">
        <thead>
            <tr>
                <th>  [ #]  </th>
                <th>Id</th>
                <th>FullName</th>
                <th>Email</th>
                <th>picture</th>
               

                
               
                
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
             <td class="text-left "> 
                <div class="btn-group btn-group-sm">
                          <a class="btn btn" href="{{ path('app_user_show', 
                          {'id': user.id})}}"><i class="fa fa-eye">
                             </i>
                             
                            </a>
                          <a class="btn btn" href="{{ path('app_user_edit', 
                          {'id': user.id}) }}"> <i class="fas fa-pencil-alt">
                              </i>
                              
                            
                          </a>
                          <a class="btn btn" href="{{ path('app_user_delete',
                           {'id': user.id}) }}">
                              <i class="fas fa-trash">
                              </i>
                              
                          </a>
                </div>
            </td>
                   
                  
                    
                    
                   
                
                
                <td>{{ user.id }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.Email }}</td>
                <td>{{ user.picture }}</td>
                
               
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        
        </tbody>
        
    </table>
   

    
      
        
        
      
  
       

        </div>


     
    </body>
{% endblock %}

{% endblock %}
   

   
                         

